@font-face{
    font-family: Butterfly Kids;
    src: url(/Task1/ButterflyKids-Regular.woff2);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.main{
    height: 100%;
    width: 100%;
}
.bg{
    background-image: url("/Task1/bg1.webp");
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg>h1{
    font-family: "Butterfly Kids";
    color: white;
    font-weight: 900;
    font-size: 300px;
}